/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* HEADER */
/* header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */
a{
    text-decoration: none;
}

.navbar-div{
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
}
.li-1{
    color: #36413E;
}
h1{
    width: 369px;
    height: 70px;
    font-size: 70px;
    font-family: 'Helvetica Neue';
    color: #36413E;
    margin-left: 44px;
}
.navbar{
    font-family: Brandon Grotesque;
    font-size: 18px;
    width: 532px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; */
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #7F7F7F;
    margin-left: 79px;
}
.icons-div{
    margin-left: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 127px;
    height: 16px;
}
.icon{
padding-right: 42px;
}

/* second section with background pic */

.second-sec{
    background-image: url("Pictures/Banner-Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 875px;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.square{
    position: absolute;
    left: auto;
    bottom: 129px;
    height: 187px;
    width: 706px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFFFF;
} 
.second{
    font-size: 40px;
    /* font-family: Kazimir; */
    font-family: Brandon Grotesque;
    color: #19381F;
}

/* section with green background */

.green{
    width: 100%;
    height: 779px;
    background-color: #306B34;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.coffee{
    height: 453px;
    width: 679px;
    /* padding-left: 138px;
    padding-right: 38px; */
}
.text{
    height: 382px;
    width: 311px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.mission{
    font-size: 40px;
    font-family: Brandon Grotesque;
    color: #19381F;
}
.missiontext{
    font-size: 20px;
    /* font-family: Kazimir; */
    font-family: Brandon Grotesque;
    color: #F4F4F1;
}

/* before footer section */

.white{
    width: 100%;
    height: 617px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cover{
    /* height: 85px; */
    font-size: 40px;
    /* font-family: Kazimir; */
    font-family: Brandon Grotesque;
}
.discuss{
    /* height: 247px; */
    width: 696px;
    font-size: 20px;
    /* font-family: Kazimir; */
    text-align: center;
    font-family: Brandon Grotesque;
}
.discuss-2{
    font-size: 20px;
    font-family: Brandon Grotesque;
}
button{
    width: 148px;
    height: 48px;
    background-color: #36413E;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Brandon Grotesque;
    border: none;
    cursor: -webkit-grab;
    cursor: grab;
}

/* FOOTER */

/* .footer-div{
    width: 100%;
    height: 76px;
    background-color: #306B34;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
     align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 275px;
    height: 15px;
    font-size: 10px;
    font-family: Brandon Grotesque;
    color: #FFFFFF;
}
.span{
    margin-right: auto;
    height: 12px;
    width: 52px; 
    margin-left: 30px;
    color: #FFFFFF;
} */
.box{
    width: 100%;
    height: 76px;
    background-color: #306B34;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.li-2{
    color: #FFFFFF;
}
.privacy{
    font-size: 12px;
    font-family: Brandon Grotesque;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: 33px;
    margin-top: 30px;
}
.span{
    width: 52px;
    height: 12px;
    padding-top: 30px;
}
.footer-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.foot-ul{
    font-size: 10px;
    font-family: Brandon Grotesque;
    color: #FFFFFF;
    width: 275px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}